<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %>1133</h1>
  <p>EJS Welcome111 to <%= title %></p>
</body>

</html>